mixin header(item)
    header.main-header.px-layout
        figure.main-header__logo-container
            a(href="/")
                img.main-header__logo(src="../img/icons/website-logo.png", alt="Logo del Sitio Web")
        div(class="main-header__barMenu")
            i(class="icon-menu main-header--hamburger")
        nav.main-header__menu-container
            ul.main-header__list-menu
                li.main-header__item
                    a(href="index.html", class= item == 'home' ? 'main-header__link px-layout active' : 'main-header__link px-layout') Home 
                li.main-header__item
                    a(href="about.html", class= item == 'about' ? 'main-header__link px-layout active' : 'main-header__link px-layout') About Us
                li.main-header__item
                    a(href="services.html", class= item == 'services' ? 'main-header__link px-layout active' : 'main-header__link px-layout') Services
                li.main-header__item
                    a(href="contact.html", class= item == 'contact' ? 'main-header__link px-layout active' : 'main-header__link px-layout') Contact Us                 
                