extends ../template/template.pug
include ../components/menu.pug
block metaTags
    -var pageTitle = 'Sitio Web | Servicios';
    -var description = 'Este es el contenido de la meta etiqueta Description';
    title= pageTitle
    meta(name="description", content=description)
    meta(name="application-name", content=pageTitle)
block content
    +header('services')
    .px-layout.heading
        h1 This is the content of services page!